@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse.otf') format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
}

.imageContainer {
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    width: 30%; 
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.formContainer {
    width: 70%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.odinContainer{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    padding: 10px;
}

.odin-img{
    width: 90px;
    height: 120px;
}
.odin-text{
    font-family: 'Norse', sans-serif;
    font-size: 80px;
    color: white;
    margin: 0;
    line-height: 1;
}

.img-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.img-footer a {
    color: white;
    text-decoration: underline;
}

.formParag{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 625px;
    margin-left: 50px;
}

.form-info{
    background-color: antiquewhite;
}

.form-inputs{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding: ;
}